@using FabrikProject.Models
@model LoginViewModel
<section id="loginForm">
    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "navbar-form navbar-right", role = "form" }))
    {
        @Html.AntiForgeryToken()
        
    <div class="form-group">
        @Html.TextBoxFor(m => Model.Email, new { @class = "form-control", style="display:inline;" })
    </div>
    <div class="form-group">
        @Html.PasswordFor(m => Model.Password, new { @class = "form-control", style = "display:inline;" })
    </div>
    <input type="submit" value="Log in" class="btn btn-default navbar-right" />   
    }
</section>
