<?xml version="1.0" encoding="utf-8" ?>
<appSettings>
  <add key="StockKey" value="BECFPZPO9R3JIDAN"/>
  <add key="Gmail" value="FabrikEssentialPortfolio@gmail.com"/>
  <add key="Gmail Password" value="FABRIK4423!@"/>
  <add key="SendGrid" value="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"/>
</appSettings> 
