@{
    ViewBag.Title = "About";
}

<div class="row">
    <div class="column">
        <div class="card">
            <img src="~/Content/Images/eLogo.png" alt="Fernando" style="width:100%" />
            <div class="container">
                <h2>Fernando Cruz</h2>
                <p class="title">Project Leader</p>
                <p>fernando@email.com</p>
                <p><button class="btn btn-default">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="~/Content/Images/eLogo.png" alt="Ajit" style="width:100%" />
            <div class="container">
                <h2>Ajit Morar</h2>
                <p class="title">Vice Project Leader</p>
                <p>ajit@email.com</p>
                <p><button class="btn btn-default">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="~/Content/Images/eLogo.png" alt="Kaushik" style="width:100%" />
            <div class="container">
                <h2>Kaushik Jayaram</h2>
                <p class="title">Project Designer</p>
                <p>fernando@email.com</p>
                <p><button class="btn btn-default">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="~/Content/Images/eLogo.png" alt="Ibrahim" style="width:100%" />
            <div class="container">
                <h2>Ibrahim Zbib</h2>
                <p class="title">Project Designer</p>
                <p>ibrahim@email.com</p>
                <p><button class="btn btn-default">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="~/Content/Images/eLogo.png" alt="Ryan" style="width:100%" />
            <div class="container">
                <h2>Ryan Kennedy</h2>
                <p class="title">Web Developer</p>
                <p>ryan@email.com</p>
                <p><button class="btn btn-default">Contact</button></p>
            </div>
        </div>
    </div>
    <div class="column">
        <div class="card">
            <img src="~/Content/Images/eLogo.png" alt="Brandon" style="width:100%" />
            <div class="container">
                <h2>Brandon Lee</h2>
                <p class="title">Web Developer</p>
                <p>brandon@email.com</p>
                <p><button class="btn btn-default">Contact</button></p>
            </div>
        </div>
    </div>
</div>
    <address>
        One Microsoft Way<br />
        Redmond, WA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address>
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
    </address>
