@model FabrikProject.Models.PortfolioMeta

@{
    ViewBag.Title = "Home Page";
}
@if (Request.IsAuthenticated)
{
    <br />

    <div class="row">

        <div class="col-md-12 custom-shadow-div">
            <div id="donutchart" style="width: 900px; height: 700px;"></div>
        </div>
        <div class="col-md-12 custom-shadow-div">
            @Html.Partial("Sector", "Home")

        </div>
        <div class="col-md-12 custom-shadow-div">
            @Html.Partial("Crypto", "Home")

        </div>
    </div>

    <!--Add Asset Button -->

    <br />

    <br />
    <br />

    <!-- Table -->
    <br />
    

    <script type="text/javascript">
        google.charts.load("current", { packages: ["corechart"] });
        google.charts.setOnLoadCallback(drawChart);
        function drawChart() {
            $.post("/Home/Chart", function (data) {
                var options = {
                    title: 'My Portfolio',
                    pieHole: 0.4,
                    backgroundColor: '#F8F8F8',
                    colors: ['#A3D977', '#556B2F']
                };

                var datas = google.visualization.arrayToDataTable([
                    ['Assets', 'Asset Value'],
                    ['Stocks', data['stocks']],
                    ['Cryptos', data['cryptos']]]);
                var formatter = new google.visualization.NumberFormat({
                    prefix: '$'
                });
                formatter.format(datas, 1);
                var chart = new google.visualization.PieChart(document.getElementById('donutchart'));
                chart.draw(datas, options);
            });


        }
       
    </script>
}
else
{
    @Html.Action("RegisterPartial", "Home")
}
