@{
    ViewBag.Title = "Investing Strategies";
}

<div class="jumbotron">
    <h1>Basic Investing Strategies</h1>
    <p>
        
    </p>
</div>
<div class="row">
    <div class="panel-group">
        <div class="panel panel-success col-md-12">
            <h3 class="panel-heading">Momentum</h3>
            <p class="panel-body">
                Momentum investing is an investment strategy that aims to capitalize on the continuance of existing trends in the market.
                To participate in momentum investing, a trader takes a long position in an asset that has shown an upward trending price,
                or the trader short-sells a security that has been in a downtrend.
            </p>
        </div>
        <div class="panel panel-success col-md-12">
            <h3 class="panel-heading">Value</h3>
            <p class="panel-body">
                Value investing is an investment paradigm which generally involves buying securities that appear
                underpriced by some form of fundamental analysis, though it has taken many forms since its inception.
            </p>
        </div>
        <div class="panel panel-success col-md-12">
            <h3 class="panel-heading">Technical Analysis</h3>
            <p class="panel-body">
                In finance, technical analysis is an analysis methodology for forecasting the direction of
                prices through the study of past market data, primarily price and volume.
            </p>
        </div>
        <div class="panel panel-success col-md-12">
            <h3 class="panel-heading">Growth</h3>
            <p class="panel-body">
                Growth investing is a style of investment strategy focused on capital appreciation. Those who follow this style,
                known as growth investors, invest in companies that exhibit signs of above-average growth,
                even if the share price appears expensive in terms of metrics such as price-to-earnings or price-to-book ratios.
            </p>
        </div>
        <div class="panel panel-success col-md-12">
            <h3 class="panel-heading">Buy and Hold</h3>
            <p class="panel-body">
                Buy and hold is a passive investment strategy in which an investor buys stocks and holds them for a long period of time,
                regardless of fluctuations in the market. An investor who employs a buy-and-hold strategy actively selects stocks,
                but once in a position, is not concerned with short-term price movements and technical indicators.
            </p>
        </div>
    </div>
</div>