@{
    ViewBag.Title = "Updates";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="left">
    <br />
    first section on left <br />
    this is another line
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    3rd bullet point<br />
    2
</div>

<div class="right">
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    second bullet point <br />
    2
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    4th bullet point<br />
    2
</div>

<div class="center">
    <div class="roadmap-header">Development Roadmap</div>
    <div class="dot">
        <div class="dot-inner"></div>
    </div>
    <div class="line"></div>
    <div class="dot">
        <div class="dot-inner"></div>
    </div>
    <div class="line"></div>
    <div class="dot">
        <div class="dot-inner"></div>
    </div>
    <div class="line"></div>
    <div class="dot">
        <div class="dot-inner"></div>
    </div>
</div>

