<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/a1e0a5b9-2187-4132-ad05-73ade448a766/resourcegroups/Fabrik/providers/Microsoft.Web/sites/EssentialPortfolio</ResourceId>
    <ResourceGroup>Fabrik</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://essentialportfolio.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>essentialportfolio.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>EssentialPortfolio</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$EssentialPortfolio</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="EssentialPortfolio_DB" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:fabrik-hci.database.windows.net,1433;Initial Catalog=EssentialPortfolio.DB;User ID=fabrik@fabrik-hci;Password=Ricobob85.J!@" Name="Data Source=tcp:fabrik-hci.database.windows.net,1433;Initial Catalog=EssentialPortfolio.DB;User Id=fabrik@fabrik-hci;Password=Ricobob85.J!@" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="FabrikProject.Models.ApplicationDbContext, FabrikProject" MigrationConfiguration="FabrikProject.Migrations.Configuration, FabrikProject" Origin="Configuration" />
          </Object>
        </ObjectGroup>
        <ObjectGroup Name="DefaultConnection" Order="2" Enabled="True">
          <Destination Path="Data Source=tcp:fabrik-hci.database.windows.net,1433;Initial Catalog=EssentialPortfolio.DB;User ID=fabrik@fabrik-hci;Password=Ricobob85.J!@" Name="Data Source=tcp:fabrik-hci.database.windows.net,1433;Initial Catalog=EssentialPortfolio.DB;User Id=fabrik@fabrik-hci;Password=Ricobob85.J!@" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-FabrikProject-20180320125721.mdf;Initial Catalog=aspnet-FabrikProject-20180320125721;Integrated Security=True" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\DefaultConnection_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\aspnet-FabrikProject-20180320125721.mdf;Initial Catalog=aspnet-FabrikProject-20180320125721;Integrated Security=True" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="DefaultConnection-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fabrik-hci.database.windows.net,1433;Initial Catalog=EssentialPortfolio.DB;User Id=fabrik@fabrik-hci;Password=Ricobob85.J!@</ParameterValue>
    </MSDeployParameterValue>
    <MSDeployParameterValue Include="EssentialPortfolio_DB-Web.config Connection String">
      <ParameterValue>Data Source=tcp:fabrik-hci.database.windows.net,1433;Initial Catalog=EssentialPortfolio.DB;User Id=fabrik@fabrik-hci;Password=Ricobob85.J!@</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>