@using FabrikProject.Models
@model UserStock
@{
    ViewBag.Title = "Delete";
}



    <h3>Really Delete: </h3>
    <div class="col-md-8 col-md-offset-2">
        @Html.DisplayFor(s => Model.AssetTicker)
        @Html.DisplayFor(s => Model.DatePrice)
    </div>

<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
