@using FabrikProject.Models
@model List<Csv>

@{
    ViewBag.Title = "Add Asset";
}



@if (Request.IsAuthenticated)
{
    <h3>Add multiple assets</h3>
    <p>Search for an asset, and click on it to add to the list below.</p>
    <p>Click on other assets to add them to the list</p>
    <p>Use the buttons on the right to sort by stock or crypto</p>
    <br />
    
    <hr />
    <div class="row">
        @using (Html.BeginForm("Searcher", "Account", FormMethod.Post, new { id = "myInput", autocomplete = "off", autofocus = "autofocus" }))
        {
            @Html.AntiForgeryToken()
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>

            <input class="form-control" name="search"id="search-multi" type="text" placeholder="Search assets (e.g BTC, FB, GOOGL)" />
        </div>

        <div class="col-md-5" style="overflow-y:scroll; max-height:280px; text-align:center;" >
            <ul class="list-group stock" id="myList" style="border-width: medium;border-color:#565656;">

            </ul>
        </div>
        <div class="col-md-1">

            <div>
                <input type="radio" name="asset" value="Stock" />Stocks
            </div>
            <div>
                <input type="radio" name="asset" value="Crypto" />Cryptos
            </div>
        </div>
        
        }
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        @using (Html.BeginForm("UserAddStock", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-12" style="text-align:center;">
                <table class="table table-bordered table-response table-striped">
                    <thead>
                        <tr>
                            <td>Asset</td>
                            <td>Ticker</td>
                            <td>Quantity</td>
                            <td>Price Per Share</td>
                            <td>Initial Investment</td>
                            <td>Commissions</td>
                            <td>Date Purchased</td>
                            <td>Remove</td>
                        </tr>
                    </thead>
                    <tbody class="stock-body"></tbody>
                    
                </table>
            </div>

            <div class="col-md-1">
                <a class="btn btn-danger btn-lg" id="CancelButton" >Clear</a>
               

            </div>
            <div class="col-md-2 col-md-offset-9">
                <input type="submit" class="btn btn-success btn-lg" id="subBut" value="Confirm" style="float:right" disabled/>
            </div>

        }

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

}
else
{
    @Html.Partial("Login")

}