@using FabrikProject.Models
@model List<Csv>

@{
    ViewBag.Title = "Add Asset";
}



@if (Request.IsAuthenticated)
{
    <h1></h1>
    <div class="row">
        <div class="form-group input-group">
            <span class="input-group-addon">
                <i class="glyphicon glyphicon-search"></i>
            </span>
            <input class="form-control" id="myInput" type="text" placeholder="Search.." />
        </div>
        <div class="col-md-5 partialContents" style="overflow-y:scroll; height:280px; text-align:center; background-color:gray" data-url="@Url.Action("StockList","Account")">
            loading stocks, please wait...
        </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
        @using (Html.BeginForm("UserAddStock", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
        {
            @Html.AntiForgeryToken()
            <div class="col-md-12" style="text-align:center;">
                <table class="table table-bordered table-response table-striped">
                    <thead>
                        <tr>
                            <td>Asset</td>
                            <td>Ticker</td>
                            <td>Quantity</td>
                            <td>Price Per Share</td>
                            <td>Initial Investment</td>
                            <td>Commissions</td>
                            <td>Date Purchased</td>
                        </tr>
                    </thead>
                    <tbody class="stock-body"></tbody>
                    
                </table>
            </div>

            <div class="col-md-1">
                <a class="btn btn-danger btn-lg" id="CancelButton" >Cancel</a>
               

            </div>
            <div class="col-md-2 col-md-offset-9">
                <input type="submit" class="btn btn-success btn-lg" value="Confirm" style="float:right" />
            </div>

        }

    </div>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />

}
else
{
    @Html.Partial("Login")

}